{{#each this}}
<h1 class="title">{{name}}</h1>
<div class="container">
    <ul class="country-list">
        <li class="country-item">Capital:
            <span class="result">{{capital}}</span>
        </li>
        <li class="country-item">Population:
            <span class="result">{{population}}</span>
        </li>
        <li class="country-item text">Languages:
            <ul class="languages-list">
                {{#each languages}}
                <li class="result item">{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img src="{{flag}}" alt="country_flag" width="800" class="photo">
</div>
{{/each}}